In [1]:
pip install mvl-sql-parser

Defaulting to user installation because normal site-packages is not writeableNote: you may need to restart the kernel to use updated packages.

ERROR: Could not find a version that satisfies the requirement mvl-sql-parser (from versions: none)

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: No matching distribution found for mvl-sql-parser

In [2]:
pip install

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable

[notice] A new release of pip is available: 25.0.1 -> 25.2
[notice] To update, run: python.exe -m pip install --upgrade pip
ERROR: You must give at least one requirement to install (see "pip help install")

In [4]:
!python.exe -m pip install --upgrade pip

Defaulting to user installation because normal site-packages is not writeable
Requirement already satisfied: pip in c:\users\komal\appdata\roaming\python\python311\site-packages (25.0.1)
Collecting pip
  Downloading pip-25.2-py3-none-any.whl.metadata (4.7 kB)
Downloading pip-25.2-py3-none-any.whl (1.8 MB)
   ---------------------------------------- 0.0/1.8 MB ? eta -:--:--
   ----------------------- ---------------- 1.0/1.8 MB 5.6 MB/s eta 0:00:01
   ----------------------------------- ---- 1.6/1.8 MB 3.7 MB/s eta 0:00:01
   ---------------------------------------- 1.8/1.8 MB 3.5 MB/s eta 0:00:00
Installing collected packages: pip
  Attempting uninstall: pip
    Found existing installation: pip 25.0.1
    Uninstalling pip-25.0.1:
      Successfully uninstalled pip-25.0.1
Successfully installed pip-25.2

In [5]:
pip install mvl-sql-parser

Note: you may need to restart the kernel to use updated packages.Defaulting to user installation because normal site-packages is not writeable

ERROR: Could not find a version that satisfies the requirement mvl-sql-parser (from versions: none)
ERROR: No matching distribution found for mvl-sql-parser

In [6]:
from mvl_sql_parser import parser

sql_query = "SELECT id, name FROM customers WHERE age > 25 ORDER BY name"

parsed = parser.Parser(sql_query)
parsed_tree = parsed.parse()
print(parsed_tree.to_dict())

ModuleNotFoundError: No module named 'mvl_sql_parser'

In [7]:
from sqlglot import parse_one, exp

ModuleNotFoundError: No module named 'sqlglot'

In [8]:
pip install sqlglot

Defaulting to user installation because normal site-packages is not writeable
Collecting sqlglot
  Downloading sqlglot-27.13.2-py3-none-any.whl.metadata (20 kB)
Downloading sqlglot-27.13.2-py3-none-any.whl (512 kB)
Installing collected packages: sqlglot
Successfully installed sqlglot-27.13.2
Note: you may need to restart the kernel to use updated packages.

In [9]:
from sqlglot import parse_one, exp

In [10]:
sql_query = "SELECT id, name FROM customers WHERE age > 25 ORDER BY name"
expression = parse_one(sql_query)

In [12]:
tables = [table.name for table in expression.find_all(exp.Table)]
columns = [col.alias_or_name for col in expression.find_all(exp.Column)]

In [19]:
print(f"Tables is: {tables}")

Tables is: ['customers']

In [30]:
from sqlglot import parse_one, exp
import json

sql_query = """
SELECT c.id, c.name, SUM(o.amount) as total_amount
FROM customers c
JOIN orders o ON c.id = o.customer_id
WHERE c.age > 25
GROUP BY c.id, c.name
ORDER BY total_amount DESC
"""

expression = parse_one(sql_query)

# Extract tables
tables = [table.name for table in expression.find_all(exp.Table)]

# Extract columns
columns = [col.name for col in expression.find_all(exp.Column)]

# Extract group by
group_by = [g.sql() for g in expression.find_all(exp.Group)]

# Extract order by
order_by = [o.sql() for o in expression.find_all(exp.Order)]

# Extract functions/aggregations (like SUM, COUNT)
aggregations = [f.sql() for f in expression.find_all(exp.Func)]

# joins_info = []
# for join in expression.find_all(exp.Join):
#     joins_info.append({
#         "join_type": join.args.get("kind") or "INNER",
#         "table": join.this.sql(),  # joined table
#         "condition": join.args.get("on").sql() if join.args.get("on") else None
#     })

joins = [f.sql() for f in expression.find_all(exp.Join)]


result = {
    "tables": tables,
    "Joins": joins_info,
    "columns": columns,
    "group_by": group_by,
    "order_by": order_by,
    "aggregations": aggregations,
    "total_joins": len(joins_info),
    "Join": joins
}

print(json.dumps(result, indent=4))

{
    "tables": [
        "customers",
        "orders"
    ],
    "Joins": [
        {
            "join_type": "INNER",
            "table": "orders AS o",
            "condition": "c.id = o.customer_id"
        }
    ],
    "columns": [
        "id",
        "name",
        "id",
        "name",
        "amount",
        "id",
        "customer_id",
        "age",
        "total_amount"
    ],
    "group_by": [
        "GROUP BY c.id, c.name"
    ],
    "order_by": [
        "ORDER BY total_amount DESC"
    ],
    "aggregations": [
        "SUM(o.amount)"
    ],
    "total_joins": 1,
    "Join": [
        "JOIN orders AS o ON c.id = o.customer_id"
    ]
}